__pycache__/
*.pyc
*.bin
# VSCode
.vscode
useful_tools/GalTransl_DumpInjector/config.ini
useful_tools/GalTransl_DumpInjector/VNTextPatch/names.xml
*.log
*.txt
venv*/
project/
python_embeded/
*.gguf
faster-whisper*/
build/
dist/